In [13]:
import sqlite3

In [14]:
con =sqlite3.connect("portal_mammals.sqlite")

In [15]:
cur=con.cursor()

In [16]:
for row in cur.execute('SELECT * FROM species;'):
    print row

(u'AB', u'Amphispiza', u'bilineata', u'Bird')
(u'AH', u'Ammospermophilus', u'harrisi', u'Rodent-not censused')
(u'AS', u'Ammodramus', u'savannarum', u'Bird')
(u'BA', u'Baiomys', u'taylori', u'Rodent')
(u'CB', u'Campylorhynchus', u'brunneicapillus', u'Bird')
(u'CM', u'Calamospiza', u'melanocorys', u'Bird')
(u'CQ', u'Callipepla', u'squamata', u'Bird')
(u'CS', u'Crotalus', u'scutalatus', u'Reptile')
(u'CT', u'Cnemidophorus', u'tigris', u'Reptile')
(u'CU', u'Cnemidophorus', u'uniparens', u'Reptile')
(u'CV', u'Crotalus', u'viridis', u'Reptile')
(u'DM', u'Dipodomys', u'merriami', u'Rodent')
(u'DO', u'Dipodomys', u'ordii', u'Rodent')
(u'DS', u'Dipodomys', u'spectabilis', u'Rodent')
(u'DX', u'Dipodomys', u'sp.', u'Rodent')
(u'EO', u'Eumeces', u'obsoletus', u'Reptile')
(u'GS', u'Gambelia', u'silus', u'Reptile')
(u'NA', u'Neotoma', u'albigula', u'Rodent')
(u'NX', u'Neotoma', u'sp.', u'Rodent')
(u'OL', u'Onychomys', u'leucogaster', u'Rodent')
(u'OT', u'Onychomys', u'torridus', u'Rodent')
(u'OX', u'Onychomys', u'sp.', u'Rodent')
(u'PB', u'Chaetodipus', u'baileyi', u'Rodent')
(u'PC', u'Pipilo', u'chlorurus', u'Bird')
(u'PE', u'Peromyscus', u'eremicus', u'Rodent')
(u'PF', u'Perognathus', u'flavus', u'Rodent')
(u'PG', u'Pooecetes', u'gramineus', u'Bird')
(u'PH', u'Perognathus', u'hispidus', u'Rodent')
(u'PI', u'Chaetodipus', u'intermedius', u'Rodent')
(u'PL', u'Peromyscus', u'leucopus', u'Rodent')
(u'PM', u'Peromyscus', u'maniculatus', u'Rodent')
(u'PP', u'Chaetodipus', u'penicillatus', u'Rodent')
(u'PU', u'Pipilo', u'fuscus', u'Bird')
(u'PX', u'Chaetodipus', u'sp.', u'Rodent')
(u'RF', u'Reithrodontomys', u'fulvescens', u'Rodent')
(u'RM', u'Reithrodontomys', u'megalotis', u'Rodent')
(u'RO', u'Reithrodontomys', u'montanus', u'Rodent')
(u'RX', u'Reithrodontomys', u'sp.', u'Rodent')
(u'SA', u'Sylvilagus', u'audubonii', u'Rabbit')
(u'SB', u'Spizella', u'breweri', u'Bird')
(u'SC', u'Sceloporus', u'clarki', u'Reptile')
(u'SF', u'Sigmodon', u'fulviventer', u'Rodent')
(u'SH', u'Sigmodon', u'hispidus', u'Rodent')
(u'SO', u'Sigmodon', u'ochrognathus', u'Rodent')
(u'SS', u'Spermophilus', u'spilosoma', u'Rodent-not censused')
(u'ST', u'Spermophilus', u'tereticaudus', u'Rodent-not censused')
(u'SU', u'Sceloporus', u'undulatus', u'Reptile')
(u'SX', u'Sigmodon', u'sp.', u'Rodent')
(u'UL', u'Lizard', u'sp.', u'Reptile')
(u'UP', u'Pipilo', u'sp.', u'Bird')
(u'UR', u'Rodent', u'sp.', u'Rodent')
(u'US', u'Sparrow', u'sp.', u'Bird')
(u'XX', None, None, u'Zero Trapping Success')
(u'ZL', u'Zonotrichia', u'leucophrys', u'Bird')
(u'ZM', u'Zenaida', u'macroura', u'Bird')

In [17]:
import pandas as pd

In [18]:
df= pd.read_sql_query("SELECT * FROM surveys",con)

In [20]:
df.head()

   record_id  month  day  year  plot species sex  wgt
0          1      7   16  1977     2      NA   M  NaN
1          2      7   16  1977     3      NA   M  NaN
2          3      7   16  1977     2      DM   F  NaN
3          4      7   16  1977     7      DM   M  NaN
4          5      7   16  1977     3      DM   M  NaN

In [21]:
con.close()